services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: TEST
      POSTGRES_USER: AD
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U AD -d TEST"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: